aaaa                    ICON    "Icon/Mutabor.ico"

/* Useful if PROVIDE_DEFAULT_ICONS is set in wx_setup.h */
#define IHaveMDIParentIcon
#define IHaveMDIChildIcon

wxSTD_MDIPARENTFRAME    ICON    "Icon/Mutabor.ico"
wxSTD_MDICHILDFRAME     ICON    "Icon/Document.ico"

mutabor_icn		ICON    "Icon/Mutabor.ico"
document_icn		ICON    "Icon/Document.ico"
route_icn		ICON    "Icon/Route.ico"
tstextbox_icn		ICON    "Icon/TSTextBox.ico"
keytextbox_icn		ICON    "Icon/KeyTextBox.ico"
acttextbox_icn		ICON    "Icon/ActTextBox.ico"

Logic_icn		ICON "Icon/Logic.ico"
LogicOpen_icn		ICON "Icon/LogicOpen.ico"
Tonesyst_icn		ICON "Icon/Tonesyst.ico"
TonesystOpen_icn	ICON "Icon/TonesystOpen.ico"

devunknown_icn		ICON "Icon/DevUnknown.ico"
devmidiport_icn		ICON "Icon/DevMidiPort.ico"
devmidifile_icn		ICON "Icon/DevMidiFile.ico"
devgmn_icn		ICON "Icon/DevGMN.ico"

PlayPlop_icn		ICON "Icon/PlayPlop.ico"
PausePlop_icn		ICON "Icon/PausePlop.ico"
ErrorPlop_icn		ICON "Icon/ErrorPlop.ico"
NewPlop_icn		ICON "Icon/NewPlop.ico"

AddStop_bmp		BITMAP "Icon/AddStop.bmp"
AddPlay_bmp		BITMAP "Icon/AddPlay.bmp"
AddPause_bmp		BITMAP "Icon/AddPause.bmp"
AddStopDis_bmp		BITMAP "Icon/AddStopDis.bmp"
//me #include "wx/msw/wx.rc"

