ABOUT-NLS
aclocal.m4
ar-lib
autom4te.cache/
ChangeLog.git
config.guess
config.h.in
config.rpath
config.sub
configure
INSTALL
ltmain.sh
Makefile.in
test-driver
depcomp

doc/localized/de/Makefile.in
doc/localized/en/Makefile.in
doc/localized/de/Bedienung.dvi
doc/localized/de/Handbuch.dvi
doc/localized/de/Referenz.dvi
doc/localized/en/reference.dvi
idxmake.dvi

build
*~
*.orig
src/kernel/mut.output
location.hh
position.hh
src/kernel/parsers/scala/location.hh
src/kernel/parsers/scala/position.hh
src/kernel/mutlex.cc
src/kernel/parsers/scala/scale_lexer.cc
stack.hh
y.dot
y.xml
ylwrap
po/*.mo

debian/tmp
debian/mutabor
debian/libmutabor
debian/libmutabor-dev
debian/mutabor-doc
*.dh-orig
*.log
*.output
debian/autoreconf.before
debian/autoreconf.after
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper

*.ilg
*.toc
*.log
*.idx
*.ind
*.4ct
*.4dx
*.4ix
*.4tc
*.aux
*.lg
*.xref
*.wxi
*.idv
*.tmp
*.synctex.gz



