*.pdf binary
*.zip binary
*.png binary
*.jpg binary
*.bmp binary
*.exe binary
*.hlp binary
*.mut text
*.cpp text diff=cpp
*.c text diff=cpp
*.h text diff=cpp
*.tex text diff=tex
*.html text diff=html
*.bib diff=bibtex
Makefile.* text
configure.in text
.DS-Store binary
*.dsw binary
*.dsp binary
*.sln binary
*.vcxproj binary
* text=auto
