[submodule "tools/emacs"]
	path = tools/emacs
	url = https://github.com/keinstein/mutabor-mode.git
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = https://github.com/keinstein/rtmidi.git
[submodule "tools/macdylibbundler"]
	path = tools/macdylibbundler
	url = https://github.com/auriamg/macdylibbundler.git
