Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.rpath
config.sub
configure
doc/localized/de/Bedienung.pdf
doc/localized/de/Handbuch.pdf
doc/localized/de/Makefile.in
doc/localized/de/Referenz.pdf
doc/localized/en/Makefile.in
doc/localized/en/reference.pdf
install-sh
build
*~
*.orig
ABOUT-NLS
ChangeLog.git
INSTALL
compile
depcomp
missing
src/kernel/mut.output
ylwrap
po/*.mo
