aaaa                    ICON    "Images/Icons/ico/Mutabor.ico"

/* Useful if PROVIDE_DEFAULT_ICONS is set in wx_setup.h */
#define IHaveMDIParentIcon
#define IHaveMDIChildIcon

wxSTD_MDIPARENTFRAME    ICON    "Images/Icons/ico/Mutabor.ico"
wxSTD_MDICHILDFRAME     ICON    "Images/Icons/ico/Document.ico"

mutabor_icn		ICON    "Images/Icons/ico/Mutabor.ico"
document_icn		ICON    "Images/Icons/ico/Document.ico"
route_icn		ICON    "Images/Icons/ico/Route.ico"
tstextbox_icn		ICON    "Images/Icons/ico/TSTextBox.ico"
keytextbox_icn		ICON    "Images/Icons/ico/KeyTextBox.ico"
acttextbox_icn		ICON    "Images/Icons/ico/ActTextBox.ico"

Logic_icn		ICON "Images/Icons/ico/Logic.ico"
LogicOpen_icn		ICON "Images/Icons/ico/LogicOpen.ico"
Tonesyst_icn		ICON "Images/Icons/ico/Tonesyst.ico"
TonesystOpen_icn	ICON "Images/Icons/ico/TonesystOpen.ico"

devunknown_icn		ICON "Images/Icons/ico/DevUnknown.ico"
devmidiport_icn		ICON "Images/Icons/ico/DevMidiPort.ico"
devmidifile_icn		ICON "Images/Icons/ico/DevMidiFile.ico"
devgmn_icn		ICON "Images/Icons/ico/DevGMN.ico"

PlayPlop_icn		ICON "Images/Icons/ico/PlayPlop.ico"
PausePlop_icn		ICON "Images/Icons/ico/PausePlop.ico"
ErrorPlop_icn		ICON "Images/Icons/ico/ErrorPlop.ico"
NewPlop_icn		ICON "Images/Icons/ico/NewPlop.ico"

AddStop_bmp		BITMAP "Images/Icons/bmp/AddStop.bmp"
AddPlay_bmp		BITMAP "Images/Icons/bmp/AddPlay.bmp"
AddPause_bmp		BITMAP "Images/Icons/bmp/AddPause.bmp"
AddStopDis_bmp		BITMAP "Images/Icons/bmp/AddStopDis.bmp"
#include "wx/msw/wx.rc"

