Source: mutabor
Section: unknown
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: mutabor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Retuning MIDI instruments for complex microtonal tunings
 Mutabor is a program that allows a musician to perform real time Music with
 arbitray posibly infinite tone systems. The program uses the Pitch Bend
 functinality of your MIDI instrument to reach very fast retunings. With the
 help of a control file it is possible to write complex tunings and even tuning
 logics, which change the tuning according chords, forms of chords, keys and
 other events. It is faster and more powerful than most equipment on the
 market, exspecially in the low cost segment.
Description:
 The pitchbend functinality allows a precition of the 8192th part (factor
 0.000122) of the pitch bend range. In GM standard this is about 0.0244 cents.
Description:
 This package contains the main program.

Package: libmutabor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Retuning MIDI instruments for complex microtonal tunings
 Mutabor is a program that allows a musician to perform real time Music with
 arbitray posibly infinite tone systems. The program uses the Pitch Bend
 functinality of your MIDI instrument to reach very fast retunings. With the
 help of a control file it is possible to write complex tunings and even tuning
 logics, which change the tuning according chords, forms of chords, keys and
 other events. It is faster and more powerful than most equipment on the
 market, exspecially in the low cost segment.
Description:
 The pitchbend functinality allows a precition of the 8192th part (factor
 0.000122) of the pitch bend range. In GM standard this is about 0.0244 cents.
Description:
 This package contains the kernel library of the program. It is extracted to
 allow programmers to write other applications using this nice technology.
 The header files can be found in the libmutabor-dev package.

Package: libmutabor-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Retuning MIDI instruments for complex microtonal tunings
 Mutabor is a program that allows a musician to perform real time Music with
 arbitray posibly infinite tone systems. The program uses the Pitch Bend
 functinality of your MIDI instrument to reach very fast retunings. With the
 help of a control file it is possible to write complex tunings and even tuning
 logics, which change the tuning according chords, forms of chords, keys and
 other events. It is faster and more powerful than most equipment on the
 market, exspecially in the low cost segment.
Description:
 The pitchbend functinality allows a precition of the 8192th part (factor
 0.000122) of the pitch bend range. In GM standard this is about 0.0244 cents.
Description:
 This package contains the header files for the kernel library of the program.
 It is extracted to allow programmers to write other applications using this
 nice technology.

Package: mutabor-doc
Architecture: all
Description: Documentation for mutabor
 Mutabor is a program that allows a musician to perform real time Music with
 arbitray posibly infinite tone systems. The program uses the Pitch Bend
 functinality of your MIDI instrument to reach very fast retunings. With the
 help of a control file it is possible to write complex tunings and even tuning
 logics, which change the tuning according chords, forms of chords, keys and
 other events. It is faster and more powerful than most equipment on the
 market, exspecially in the low cost segment.
Description:
 The pitchbend functinality allows a precition of the 8192th part (factor
 0.000122) of the pitch bend range. In GM standard this is about 0.0244 cents.
Description:
 This package contains the header files for the kernel library of the program.
 It is extracted to allow programmers to write other applications using this
 nice technology.